body {
  background-color: #27ae60;
}
#main{
  width: 310px;
  margin: 50px auto;
  //padding-left: 160px;
}
.row {
  display: flex;
  flex-direction: row;
}
.square{
  background-color: #2d3436;
  width: 100px;
  height: 100px;
  margin: 2px;
}
