body {
  background-color: #27ae60;
}
#playerSelect{
  position: absolute;
  border-radius: 5px;
  text-align: center;
  margin-left: 0px;
  margin-top: 0px;
  width: 310px;
  height: 310px;
  background-color: #ecf0f1;
  font-family: 'Supermercado One', cursive;

}
#playerSelect{

}
#main{
  width: 310px;
  margin: 50px auto;
}
.row {
  display: flex;
  flex-direction: row;
}
.square{
  background-color: #2d3436;
  width: 100px;
  height: 100px;
  margin: 2px;
}
.square:hover{
  box-shadow: 0px 0px 10px white;
}
